:root {
  --pink: rgb(247, 136, 136);
  --yellow: rgb(243, 210, 80);
  --offwhite: rgb(236, 236, 236);
  --lightBlue: rgb(144, 204, 244);
  --blue: rgb(93, 162, 213);
  --black: rgb(28, 33, 32);
}

@font-face {
  font-family: Spartan;
  src: url(./fonts/LeagueSpartan-Bold.otf);
}

@font-face {
  font-family: HK Grotesk Light;
  src: url(./fonts/HKGrotesk-Light.otf);
}

@font-face {
  font-family: HK Grotesk Med;
  src: url(./fonts/HKGrotesk-Medium.otf);
}

body {
  background-color: var(--offwhite);
}

h1 {
  color: var(--black);
  font-family: Spartan;
  font-size: 3rem;
}

h2 {
  font-family: HK Grotesk Light;
  font-size: 2rem;
  margin: 0rem;
}

.navbar {
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  background: var(--offwhite);
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  font-family: HK Grotesk Light;
  font-size: 1.5rem;
  color: var(--black);
}

nav ul li a:hover {
  color: var(--black);
  font-family: HK Grotesk Med;
  text-decoration: underline;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.intro {
  padding: 8%;
  box-sizing: border-box;
  background: var(--blue);
  text-align: left;
}

#about {
  background: var(--pink);
  text-align: left;
}

#experience {
  background: var(--yellow);
  text-align: left;
}

#projects {
  background: var(--lightBlue);
  text-align: left;
}

#involvement {
  background: var(--pink);
  text-align: left;
}

#contact {
  background: var(--blue);
  text-align: left;
}