:root {
  --pink: rgb(255, 102, 196);
  --pinkPastel: rgb(255, 173, 224);
  --magenta: rgb(203, 108, 230);
  --magentaPastel: rgb(225, 168, 240);
  --purple: rgb(140, 82, 255);
  --purplePastel: rgb(187, 153, 255);
  --yellow: rgb(243, 210, 80);
  --offwhite: rgb(236, 236, 236);
  --black: rgb(28, 33, 32);
}

@font-face {
  font-family: Spartan;
  src: url(./fonts/LeagueSpartan-Bold.otf);
}

@font-face {
  font-family: HK Grotesk Light;
  src: url(./fonts/HKGrotesk-Light.otf);
}

@font-face {
  font-family: HK Grotesk Med;
  src: url(./fonts/HKGrotesk-Medium.otf);
}

body {
  background-color: white;
}

h1 {
  color: var(--black);
  font-family: Spartan;
  font-size: 3rem;
}

h2 {
  font-family: HK Grotesk Light;
  font-size: 2rem;
  margin-bottom: 0rem;
}

h3 {
  font-family: HK Grotesk Med;
  font-size: 2rem;
  margin-bottom: 0rem;
}

p {
  font-family: HK Grotesk Med;
  font-size: 1rem;
}

.navbar {
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  background: var(--offwhite);
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  font-family: HK Grotesk Light;
  font-size: 1.5rem;
  color: var(--black);
}

nav ul li a:hover {
  color: var(--black);
  font-family: HK Grotesk Med;
  text-decoration: underline;
}

button {
  border-radius: 8px;
  font-size: 20px;
  font-family: HK Grotesk Light;
  transition-duration: 0.3s;
}

button:hover {
  background-color: var(--purple);
  color: var(--offwhite);
}

.logo {
  width: 100px;
  cursor: pointer;
}

.intro {
  padding: 8%;
  box-sizing: border-box;
  background-image: url(https://cdn.glitch.com/23f6eeca-cb3d-44f2-9608-0379158305f6%2Fwebsite_background.png?v=1614489189113);
  background-position: right top;
  background-size: cover;
  text-align: left;
}

.intro-column {
  float: right;
  margin-right: 7%;
}

#about {
  padding-left: 8%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  box-sizing: border-box;
  background: var(--magentaPastel);
  text-align: left;
}

#about:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
}

.about-list {
  float: left;
}

.about-list ul li {
  list-style: none;
  font-family: HK Grotesk Med;
  font-size: 1rem;
}

.about-list ul li span {
  padding-right: 5px;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 8px;
}

.resume-button {
  padding-top: 1rem;
  text-align: center;
}

#experience {
  padding: 8%;
  box-sizing: border-box;
  background: var(--purplePastel);
  text-align: left;
}

#projects {
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 8%;
  padding-top: 3%;
  box-sizing: border-box;
  background: var(--pinkPastel);
  text-align: left;
  height: 80rem;
}

.column h2 {
  margin-top: 0px;
}

.project-img {
  display: block;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  border-radius: 8px;
}

.project-img-one {
  display: block;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
  border-radius: 8px;
}

.project-img-two {
  display: block;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
  border-radius: 8px;
}

#involvement {
  padding: 8%;
  box-sizing: border-box;
  background: var(--yellow);
  text-align: left;
}

#contact {
  padding: 8%;
  box-sizing: border-box;
  background: var(--offwhite);
  text-align: center;
}

#contact h1 {
  margin-bottom: 0rem;
}

#contact h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.social-media {
  text-align: center;
}

.icons {
  color: var(--black);
  padding: 20px;
  font-size: 3rem;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.icons:hover {
  opacity: 0.7;
}
